@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Формат для Tailwind: R G B */
        --brand-color: 80 180 50;
        --brand-hover: 70 160 40;
    }

    .slider-brand {
        --slider-connect-bg: rgb(var(--brand-color));
        --slider-tooltip-bg: rgb(var(--brand-color));
    }
}